{% extends "base/base.html" %}
{% block content %}
                <div class="row card" style="padding:30px; margin-left: 0px;margin-right: 0px;margin-top: 20px;">
                    <div class="col-md-2">
                        <h4 class="title">Watcher</h4>
                    </div>
                    <div class="col-md-10">
                        {% if is_watching %}
                        <button class="btn btn-success btn-fill">Watcher is active</button>
                        {% else %}
                        <button class="btn btn-danger btn-fill">Watcher is not active</button>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Batches</h4>
                           </div>
                            {% if batches %}
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Batch ID</th>
                                    	<th>Images</th>
                                    	<th>Created</th>
                                    	<th>Modified</th>
                                    	<th>Status</th>
                                    </thead>
                                    <tbody>
                                        {% for batch in batches %}
                                        <tr>
                                        	<td>{{ batch.id }}</td>
                                                <td>{{ batch.image_set.count }}
                                        	<td>{{ batch.add_date }}</td>
                                        	<td>{{ batch.modify_date }}</td>
                                        	<td>{% include "batch/status.html" %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div style="padding-top:30px">
                                <p class="alert alert-info">There are no batches in the queue.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

{% endblock %}
