{% extends "main/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/social-auth.css"%}">
{% endblock %}

{% block content %}
<div id="fh5co-portfolio">

    {% if user and not user.is_anonymous %}
        <article id="content">
            <header>
                <h2>API Token <i style="font-size:12" data-toggle="tooltip" title="You can use this token to authenticate with the Singularity Hub API" class="fa fa-question-circle"></i></h2>
            </header>
          <div style="padding-top:20px" class="alert alert-info" role="alert">Store this in a safe place, and do not include in github repos.</div>

         <table>
           <thead>
             <th>Token</th>
           </thead>
           <tbody>
             <tr>
                 <td>{{ token }}</td>
             </tr>
           </tbody>
         </table>
        </article>
    {% endif %}
</div>


</div>
{% endblock %}
{% block footer %}
{% include 'main/footer.html' %}
{% endblock %}
